<span class="grid grid-cols-2">
  <p><%= currency.field.name %></p>
  <% if currency.completed? %>
    <p class='text-end'><%= humanized_money_with_symbol currency.value %></p>
  <% else %>
    <div class='bg-red-200 rounded'></div>
  <% end %>
</span>