<div class="flex flex-col gap-2">
  <p><%= folder.field.name %></p>
  <table class="Table">
    <thead>
      <tr>
      <% folder.value.schema.fields.order(:index).each do |field| %>
        <th ><%= field.name %></th>
      <% end %>
      </tr>
    </thead>
    <tbody>
      <% folder.value.items.each do |item| %>
        <tr>
        <% item.properties.each do |property| %>
          <%= render "properties/folders/private/property", property: property %>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <ul>
  </li>
</div>