<%= render CardComponent.new(path: item) do |card| %>
  <%= card.with_header.with_content(item.name) %>
  <%= card.with_body do %>
    <p><%= t("items.attributes.status.#{item.status}") %></p>
  <% end %>
<% end %>