<%= render CardComponent.new(path: item) do |card| %>
  <%= card.with_body do %>
    <div class="flex grow justify-between">
      <h1 class="text-xl my-auto"><%= item.name %></h1>
      <%= render TokenComponent.new(color: {to_complete: :danger, approved: :success, completed: :info }[item.status]).with_content(t("items.attributes.status.#{item.status}")) %>
    </div>
  <% end %>
<% end %>